<link rel="stylesheet" href="CSS/style.css">
 <!--Edit personal info Modal -->
  <div class="modal fade" id="editPersonalInfo" tabindex="-1" aria-labelledby="editPersonalInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPersonalInfoLabel">Profile Update</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary savePersonalInfo" data-bs-dismiss="modal">Save</button>
          <button type="button" class="btn btn-primary cancelPersonalInfo">Cancel</button>
        </div>
      </div>
    </div>
  </div>


  <!--Edit password Modal -->
  <div class="modal fade" id="passwordEditModal" tabindex="-1" aria-labelledby="passwordEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container passChangeContainer">
            <form id="passwordChange">
              <label for="currentPassword">Current Password</label>
              <input type="text" class="form-control" name="prevPasssword" id="currentPassword">
              <label for="newPassword ">New Password</label>
              <input type="text" class="form-control" name="newPassword" id="newPassword">
              <label for="confirmPassword ">Confirm Password</label>
              <input type="text" class="form-control" name="retypePassword" id="confirmPassword">
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark text-light savePersonalInfo" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn cancelPersonalInfo text-light" style="background-color: #f3912e;">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!--Edit personal info Modal -->
  <div class="modal fade" id="editPersonalInfo" tabindex="-1" aria-labelledby="editPersonalInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPersonalInfoLabel">Profile Update</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary savePersonalInfo" data-bs-dismiss="modal">Save</button>
          <button type="button" class="btn btn-primary cancelPersonalInfo">Cancel</button>
        </div>
      </div>
    </div>
  </div>