<link rel="stylesheet" href="CSS/style.css">
<!--Edit personal info Modal -->
<div class="modal fade" id="editPersonalInfo" tabindex="-1" aria-labelledby="editPersonalInfoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="width:30rem;">
      <div class="modal-header">
        <h5 class="modal-title" id="editPersonalInfoLabel">Profile Update</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="container-lg">
          <div class="row">
            <div class="col-lg-4">
              <div class="profileImg mt-lg-5 d-flex justify-content-center">
                <img src="img/logo.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-8">
              <div class="profileInfo">
                <div class="container profileUpdateContainer">
                  <form id="profileInfoChange">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" name="lastName" id="lastName">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" id="email">
                    <label for="number">Mobile number</label>
                    <input type="number" class="form-control" name="number" id="number">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-dark text-light savePersonalInfo"
          data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary cancelPersonalInfo" style="background-color: #f3912e;"
          data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>


<!--Edit password Modal -->
<div class="modal fade" id="passwordEditModal" tabindex="-1" aria-labelledby="passwordEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container passChangeContainer">
          <form id="passwordChange">
            <label for="currentPassword">Current Password</label>
            <input type="text" class="form-control" name="prevPasssword" id="currentPassword">
            <label for="newPassword ">New Password</label>
            <input type="text" class="form-control" name="newPassword" id="newPassword">
            <label for="confirmPassword ">Confirm Password</label>
            <input type="text" class="form-control" name="retypePassword" id="confirmPassword">
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark text-light savePersonalInfo" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn cancelPersonalInfo text-light" style="background-color: #f3912e;"
          data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>


<!--Edit personal info Modal -->
<div class="modal fade" id="interestsEditModal" tabindex="-1" aria-labelledby="interestsEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPersonalInfoLabel">Profile Update</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container interestsOptions">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <button type="button" class="btn text-light p-2"
                style="background-color: #f3912e;"><span>Web</span>&nbsp;<span>Developement</span></button>
              <button type="button" class="btn text-light p-2"
                style="background-color: #f3912e;"><span>App</span>&nbsp;<span>Developement</span></button>
              <button type="button" class="btn text-light p-2"
                style="background-color: #f3912e;"><span>Game</span>&nbsp;<span>Developement</span></button>
              <button type="button" class="btn text-light p-2"
                style="background-color: #f3912e;"><span>Data</span>&nbsp;<span>Structures</span></button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 m-lg-auto">
              <button type="button" class="btn text-light p-2"
                style="background-color: #f3912e;"><span>Programming</span></button>
              <button type="button" class="btn text-light p-2"
                style="background-color: #f3912e;"><span>Data</span>&nbsp;<span>Science</span></button>
              <button type="button" class="btn text-light p-2"
                style="background-color: #f3912e;"><span>Machine</span>&nbsp;<span>Learning</span></button>
              <button type="button" class="btn text-light p-2"
                style="background-color: #f3912e;"><span>Others</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-dark text-light savePersonalInfo"
          data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary cancelPersonalInfo" style="background-color: #f3912e;"
          data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

