<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="CSS/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-1 sidebar d-none d-md-block bg-dark text-light">
                <ul class="sidebar-menu px-0">
                    <li class="my-4">
                        <div class="item-header text-center">
                            <i class="fa-solid fa-house"></i><br> Home
                        </div>
                    </li>
                    <li class="my-4">
                        <div class="item-header text-center">
                            <span class="fas fa-briefcase"></span><br> courses
                        </div>
                    </li>
                    <li class="my-4">
                        <div class="item-header text-center">
                            <i class="fa-solid fa-compass"></i> <br>trending
                        </div>
                    </li>
                    <li class="my-4">
                        <div class="item-header text-center">
                            <i class="fa-solid fa-user"></i><br> Following
                        </div>
                    </li>
                    <li class="my-4">
                        <div class="item-header text-center">
                            <i class="fa-brands fa-discord"></i><br> Discord
                        </div>
                    </li>

                </ul>
            </div> -->

            <!-- <div class="col-md-11 px-0"> -->
            <div class="container header-container">
                <ul class="my-0">

                    <li class="d-flex">
                        <img src="/img/logo.jpg" alt="">
                        <h4 class="mx-2" style="font-weight: bold;"> CipherSchools</h4>
                    </li>
                    <li class="d-flex ">
                        <div class="dropdown">
                            <h5 class="dropbtn"><i class="fa-solid fa-compass"></i> Browse <i
                                    class="fa-solid fa-chevron-down"></i></h5>
                            <div class="dropdown-content">
                                <a href="#" class="p-1 m-1">App developement</a>
                                <a href="#" class="p-1 m-1">Web developement</a>
                                <a href="#" class="p-1 m-1">Game developement</a>
                                <a href="#" class="p-1 m-1">Data structures</a>
                                <a href="#" class="p-1 m-1">Programming</a>
                                <a href="#" class="p-1 m-1">Machine learning</a>
                                <a href="#" class="p-1 m-1">Data science</a>
                            </div>
                        </div>
                    </li>


                    <li class="d-none d-lg-flex align-items-center" style="margin-left:auto;">
                        <form class="d-flex ">
                            <div class="searchContainer d-flex">
                                <i class="fa-solid fa-magnifying-glass m-2"></i>
                                <input class="form-control no-focus-outline me-2 p-1" type="search" placeholder="Search"
                                    aria-label="Search">
                            </div>
                        </form>
                    </li>
                    <li>
                        <h4><i class="fa-solid fa-bell"></i></h4>
                    </li>
                    <li>
                        <img src="/img/logo.jpg" alt="">
                    </li>
                    <li>
                        <h4><i class="fa-solid fa-user"></i></h4>
                    </li>
                    <li>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                checked>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="auth">
                <% if (typeof myCookie !=='undefined' ) { %>
                    <div class="container hero-container">
                        <%- include('includes/modals')%>
                            <ul>
                                <li class="d-flex mx-2">
                                    <img src="/img/logo.jpg" alt="">
                                    <h6 class="editBtn bg-dark text-light" data-bs-toggle="modal"
                                        data-bs-target="#editPersonalInfo">
                                        <i class="fa-solid fa-pencil"></i>
                                    </h6>
                                </li>
                                <li class="d-flex mx-3">
                                    <div class="col">
                                        <h4>Hello,</h4>
                                        <h4 style="font-weight: bold;"> CipherSchools</h4>
                                        <p>anabilbaruah@mail.com</p>
                                    </div>
                                </li>
                                <li style="margin-left:auto;">
                                    <h5>+2k Followers</h5>
                                </li>
                            </ul>
                    </div>
                    <div class="container main-container">
                        <div class="container aboutMe px-0">
                            <form id="submitAboutMe">
                                <div class="aboutMeHeader my-3">
                                    <h4>ABOUT ME</h4>
                                    <button class="btn">Save</button>
                                </div>
                                <textarea name="aboutMe" id="" cols="30"></textarea>
                            </form>
                        </div>
                        <hr>
                        <div class="cipherMap">
                            <h4>CIPHER MAP</h4>
                            <div class="container cipherSpace">
                                <div class="row">
                                    <div class="col-md-1">Sun</div>
                                    <div class="col-md-1">Mon</div>
                                    <div class="col-md-1">Tue</div>
                                    <div class="col-md-1">Wed</div>
                                    <div class="col-md-1">Thu</div>
                                    <div class="col-md-1">Fri</div>
                                    <div class="col-md-1">Sat</div>
                                </div>
                                <div class="row cipherData">
                                    <% for(var i=0; i<=6; i++){%>
                                        <div class="col-md-1">
                                            <% for(var j=0; j<=6; j++){%>
                                                <div class="col-md-1">
                                                    <div class="row">
                                                        1
                                                    </div>
                                                </div>
                                                <%}%>
                                        </div>
                                        <%}%>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="container onTheWeb my-2 px-0">
                            <form id="onTheWeb">
                                <div class="aboutMeHeader my-3">
                                    <h4>ON THE WEB</h4>
                                    <button class="btn" type="submit">Edit</button>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-12" style="margin: auto;">
                                            <div class="container1 mt-4">

                                                <label for="github" class="form-label">
                                                    <h4 class="text-secondary">GitHub</h4>
                                                </label>
                                                <div class="addInfo d-flex  me-2 p-1">
                                                    <h1 class="m-2"><i class="fa-brands fa-github"></i></h1>
                                                    <input type="text" class="form-control no-focus-outline" id="github"
                                                        name="gitHub" placeholder="GitHub">
                                                </div>

                                                <label for="facebook" class="form-label">
                                                    <h4 class="text-secondary">Facebook</h4>
                                                </label>
                                                <div class="addInfo d-flex  me-2 p-1">
                                                    <h1 class="m-2"><i class="fa-brands fa-facebook"></i></h1>
                                                    <input type="text" class="form-control no-focus-outline"
                                                        id="facebook" name="facebook" placeholder="Facebook">
                                                </div>

                                                <label for="instagram" class="form-label">
                                                    <h4 class="text-secondary">Instagram</h4>
                                                </label>
                                                <div class="addInfo d-flex  me-2 p-1">
                                                    <h1 class="m-2"><i class="fa-brands fa-instagram"></i></h1>
                                                    <input type="text" class="form-control no-focus-outline"
                                                        id="instagram" name="instagram" placeholder="Instagram">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12" style="margin: auto;">
                                            <div class="container2 mt-4">

                                                <label for="linkedin" class="form-label">
                                                    <h4 class="text-secondary">Linkedin</h4>
                                                </label>
                                                <div class="addInfo d-flex  me-2 p-1">
                                                    <h1 class="m-2"><i class="fa-brands fa-linkedin"></i></h1>
                                                    <input type="text" class="form-control no-focus-outline"
                                                        id="linkedin" name="linkedin" placeholder="Linkedin">
                                                </div>

                                                <label for="twitter" class="form-label">
                                                    <h4 class="text-secondary">Twitter</h4>
                                                </label>
                                                <div class="addInfo d-flex  me-2 p-1">
                                                    <h1 class="m-2"><i class="fa-brands fa-twitter"></i></h1>
                                                    <input type="text" class="form-control no-focus-outline"
                                                        id="twitter" name="twitter" placeholder="Twitter">
                                                </div>


                                                <label for="website" class="form-label">
                                                    <h4 class="text-secondary">Website</h4>
                                                </label>
                                                <div class="addInfo d-flex  me-2 p-1">
                                                    <h1 class="m-2"><i class="fa-solid fa-globe"></i></h1>
                                                    <input type="text" class="form-control no-focus-outline"
                                                        id="website" name="website" placeholder="Personal website">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <hr>

                        <div class="container personalInformation px-0">
                            <form id="personalInfo">
                                <div class="personalInfoHeader my-3">
                                    <h4>PERSONAL INFORMATION</h4>
                                    <button class="btn">Edit</button>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-12" style="margin: auto;">
                                            <div class="container1 mt-4">

                                                <label for="github" class="form-label">
                                                    <h4 class="">Highest Education</h4>
                                                </label>
                                                <div class="personalInfo d-flex  me-2 p-1">

                                                    <select class="form-select" name="Education"
                                                        aria-label="Default select example">
                                                        <option value="Primary">Primary</option>
                                                        <option selected value="Secondary">Secondary</option>
                                                        <option value="Higher secondary">Higher secondary</option>
                                                        <option value="Graduation">Graduation</option>
                                                        <option value="Postgraduation">Postgraduation</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12" style="margin: auto;">
                                            <div class="container2 mt-4">

                                                <label for="linkedin" class="form-label">
                                                    <h4 class="">What do you do currently ?</h4>
                                                </label>
                                                <div class="personalInfo d-flex  me-2 p-1">
                                                    <select class="form-select" name="WYD"
                                                        aria-label="Default select example">

                                                        <option selected value="Schooling">Schooling</option>
                                                        <option value="College student">College student</option>
                                                        <option value="Teaching">Teaching</option>
                                                        <option value="Job">Job</option>
                                                        <option value="Freelancing">Freelancing</option>

                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <hr>

                        <div class="container passwordContainer px-0">
                            <div class="passwordHeader my-3">
                                <h4>PASSWORD & SECURITY</h4>
                                <button class="btn" data-bs-toggle="modal"
                                    data-bs-target="#passwordEditModal">Change</button>
                            </div>
                            <div class="container">
                                <div class="row">

                                    <div class="container1 mt-4">
                                        <form>
                                            <label for="github" class="form-label">
                                                <h4 class="">Password</h4>
                                            </label>
                                            <div class="personalInfo d-flex  me-2 p-2">
                                                <input type="password" class="form-control no-focus-outline">
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="container intrestsContainer px-0" style="margin-bottom: 5rem;">
                            <div class="intrestsdHeader my-3">
                                <h4>INTRESTS</h4>
                                <button class="btn" data-bs-toggle="modal"
                                    data-bs-target="#interestsEditModal">Edit</button>
                            </div>
                            <div class="container interests">
                                <target class="btn p-1 m-2">App developement</target>
                                <target class="btn p-1 m-2">Web developement</target>
                                <target class="btn p-1 m-2">Game devoloement</target>
                                <target class="btn p-1 m-2">Data Science</target>
                                <target class="btn p-1 m-2">Button 2</target>
                                <target class="btn p-1 m-2">Button 3</target>
                                <target class="btn p-1 m-2">Button 1</target>
                                <target class="btn p-1 m-2">Button 2</target>
                                <target class="btn p-1 m-2">Button 3</target>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
            <!-- </div> -->
        </div>



</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="JS/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script> -->

</html>